/* Reseteo y configuración básica */
* {
    box-sizing: border-box;
    font-family: 'IBM Plex Mono', monospace;
}

html {
    scroll-behavior: smooth;
    font-size: 16px;
    overflow-x: hidden; /* Evita el desbordamiento horizontal */
    
}

body {
    background-image: url('../img/space.webp');
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    color: #fff;
    text-align: center;
    margin: 0;
    padding: 0;
    overflow-x: hidden; 
}

/* Contenedor general */
.container {
    width: 70%;
    max-width: 1500px;
    margin: 0 auto;
    padding: 0;
}

/* Header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

header h1 {
    font-size: 28px;
    font-weight: bold;
    transition: text-shadow 0.3s ease-in-out !important;
}

header h1:hover {
    text-shadow: 0 0 10px #00d1ff, 0 0 20px #85d0cc !important;
}

/* Navbar */
nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2em;
    transition: color 0.3s, text-shadow 0.3s !important;
}

nav ul li a:hover {
    color: #85d0cc !important;
    text-shadow: 5px 2px 20px #85d0cc !important;
}

/* Showcase Section */
#showcase {
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#showcase h1 {
    font-size: 50px;
    margin-bottom: 20px;
}

#showcase p {
    font-size: 22px;
    max-width: 700px;
    animation: neonGlow 3s infinite alternate ease-in-out !important;
}

/* Secciones generales */
section {
    padding: 80px 0;
    margin-bottom: 2em;
}

section h2 {
    font-size: 2em;
    color: #85d0cc;
    transition: text-shadow 0.3s ease-in-out !important;
}

section h1 {
    margin: 0 !important;
}

section h2:hover {
    text-shadow: 0 0 0.625rem #85d0cc, 0 0 1.25rem #85d0cc, 0 0 1.875rem #00d1ff !important;
}

/* Service Box */
.service-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.25rem;
    flex-wrap: wrap;
}

.service h3 {
    font-size: 1em;
    color: #85d0cc;
    transition: text-shadow 0.3s ease-in-out !important;
}

.service {
    width: 70%;
    min-height: 12rem;
    margin: 3rem 2rem;
    min-width: 15.625rem;
    background: rgba(0, 0, 0, 0.6);
    padding: 1rem;
    border-radius: 0.625rem;
    text-align: center;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out !important;
    text-align: justify;
}

/* Contenedor de las imágenes de servicio */
.service-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    margin: auto;
    gap: 1rem;
}

.service-image {
    width: 27%;
    border-radius: 0.625rem;
}

.service:hover {
    transform: translateY(-0.625rem) !important;
    box-shadow: 0 0 0.9375rem #85d0cc !important;
}

/* Sección de Servicios */
#services {
    padding: 50px 0;
    margin-top: 10%;
    margin-bottom: 10%;
}

#services h2 {
    width: 20%;
    margin: 0 auto;
}

/* Roadmap */
#roadmap {
    position: relative;
    padding-top: -2rem;
    height: 1500px;
}

#roadmap h2 {
    font-size: 2em;
    margin: 0 auto;
    margin-bottom: 4rem;
    width: 30%;
    color: #85d0cc;
}

.timeline {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5rem;
    padding-bottom: 5rem;
    gap: 100px;
}

.timeline-image {
    width: 100%;
    margin: 0 auto;
    border-radius: 0.625rem;
}

.timeline h3 {
    color: #85d0cc;
}

.timeline::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    width: 4px;
    height: 100%;
    background: #85d0cc;
    transform: translateX(-50%);
}

.timeline-step {
    position: relative;
    width: 45%;
    background: rgba(0, 0, 0, 0.6);
    padding: 20px;
    border-radius: 10px;
    text-align: justify;
    transition: transform 0.3s ease-out, box-shadow 0.3s ease-out !important;
    transform-origin: center;
    perspective: 1500px;
    will-change: transform, box-shadow;
}

.timeline-step:hover {
    transform: translateY(-5px) rotateX(5deg) rotateY(5deg) scale(1.02);
    box-shadow: 0 0 15px #85d0cc !important;
}

.timeline-step:nth-child(even) {
    align-self: flex-start;
}

.timeline-step:nth-child(odd) {
    align-self: flex-end;
}

/* Animación de neón */
@keyframes neon {
    0%, 100% {
        text-shadow: 0 0 10px #85d0cc;
    }
    50% {
        text-shadow: 0 0 20px #4dd4ce;
    }
}

/* Estilo del contrato */
.contract {
    font-family: 'VT323', monospace;
    font-size: 1em;
    color: #85d0cc;
    background: rgba(0, 0, 0, 0.5);
    padding: 1.25rem;
    border-radius: 0.625rem;
    text-align: center;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out !important;
}

/* Contenido de los pasos del roadmap */
.timeline-step .timeline-content h3, 
.timeline-step .timeline-content p {
    position: relative;
    text-shadow: 0 2px 6px rgba(0, 0, 0, 0.7), 0 4px 12px rgba(0, 142, 185, 0.3);
    transform: translateZ(0);
    transition: transform 0.3s ease, text-shadow 0.3s ease;
}

.timeline-step:hover .timeline-content h3, 
.timeline-step:hover .timeline-content p {
    transform: translateY(-5px) translateZ(10px);
    text-shadow: 0 4px 12px rgba(0, 0, 0, 0.8), 0 6px 20px rgba(206, 206, 206, 0.4);
}

    /* Efecto de texto de arcoíris con bordes y sombras */
    .rainbow-text {
        font-size: 3rem;
        font-weight: bold;
        background: linear-gradient(90deg, #ADD8E6, #FFFFFF, #87CEFA, #B0E0E6);
        background-size: 200% auto;
        color: transparent;
        background-clip: text;
        -webkit-background-clip: text;
        animation: rainbow 4s linear infinite;
        text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3), 0 0 25px rgba(0, 0, 0, 0.3);
        transition: transform 0.3s ease, color 0.3s ease;
    }

    @keyframes rainbow {
        0% {
            background-position: 200% 0;
        }
        100% {
            background-position: -200% 0;
        }
    }

    /* Efectos de animación para hacer que el texto sea más dinámico */
    .animate__fadeIn {
        animation: fadeIn 1s ease-in-out;
    }

    @keyframes fadeIn {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }

    .service-image {
        animation: float 3s ease-in-out infinite;
    }

    /* Estilos del botón menú hamburguesa */
    .menu-toggle {
        display: none;
        font-size: 28px;
        cursor: pointer;
        padding: 10px;
        position: fixed; /* Lo fijamos en la pantalla */
        top: 15px;
        right: 20px; /* Siempre arriba a la derecha */
        z-index: 1100; /* Mayor que el menú */
    }


    @media (max-width: 767px) {
        /* Ajustes generales */
        html {
            font-size: 14px; /* Reducir el tamaño de fuente base */
        }
    
        .container {
            width: 90%; /* Aumentar el ancho del contenedor */
            margin: 0 auto; /* Centrar el contenedor */
        }

        
    
        /* Header */
        header {
            flex-direction: column; /* Cambiar a disposición vertical */
            padding: 20px 10px; /* Aumentar el padding vertical */
            align-items: center; /* Centrar elementos horizontalmente */
            text-align: center; /* Centrar el texto */
        }
    
        header h1 {
            font-size: 24px; /* Reducir el tamaño del título */
            margin-bottom: 20px; /* Aumentar el margen inferior */
        }
    
     
        .menu-toggle {
            display: block;
        }
    
        nav ul {
            position: fixed;
            top: 0;
            right: -100%; /* Oculto fuera de la pantalla a la derecha */
            width: 70%;
            height: 100%;
            background: #3c92918c;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            transition: transform 0.5s ease-in-out;
            transform: translateX(100%);
            z-index: 1000; /* Asegura que esté sobre el contenido */
            margin: 0;
        }
    
        nav ul.menu-active {
            transform: translateX(0);
            right: 0;
        }
        nav ul li {
            padding: 15px 0;
        }
    
        nav ul li a {
            color: white;
            text-decoration: none;
            font-size: 20px;
        }
    
    
        /* Showcase Section */
        #showcase {
            height: auto; /* Ajustar altura automáticamente */
            padding: 60px 0; /* Aumentar el padding vertical */
            text-align: center; /* Centrar el texto */
        }
    
        #showcase h1 {
            font-size: 36px; /* Reducir el tamaño del título */
            margin-bottom: 30px; /* Aumentar el margen inferior */
        }
    
        #showcase p {
            font-size: 18px; /* Reducir el tamaño del texto */
            margin-bottom: 30px; /* Aumentar el margen inferior */
        }
    
        /* Secciones generales */
        section {
            padding: 60px 0; /* Aumentar el padding vertical */
            text-align: center; /* Centrar el texto */
        }
    
        section h2 {
            font-size: 1.5em; /* Reducir el tamaño del título */
            margin-bottom: 30px; /* Aumentar el margen inferior */
        }
    
        /* Service Box */
        .service-box {
            flex-direction: column; /* Cambiar a disposición vertical */
            align-items: center; /* Centrar elementos horizontalmente */
            gap: 30px; /* Aumentar el espacio entre servicios */
        }
    
        .service {
            width: 90%; /* Aumentar el ancho del servicio */
            margin: 2rem auto; /* Aumentar el margen vertical */
            text-align: center; /* Centrar el texto */
        }
    
        .service-container {
            flex-direction: column; /* Cambiar a disposición vertical */
            gap: 30px; /* Aumentar el espacio entre elementos */
            align-items: center; /* Centrar elementos horizontalmente */
        }
    
        .service-image {
            width: 80%; /* Aumentar el ancho de la imagen */
        }
    
        /* Roadmap */
        #roadmap {
            height: auto; /* Ajustar altura automáticamente */
            padding: 60px 0; /* Aumentar el padding vertical */
            text-align: center; /* Centrar el texto */
        }
    
        .timeline {
            gap: 30px; /* Aumentar el espacio entre pasos */
            display: flex;
            flex-direction: column;
            align-items: center; /* Centrar elementos horizontalmente */
        }
    
        .timeline-step {
            width: 100%; /* Aumentar el ancho del paso */
            text-align: center; /* Centrar el texto */
            margin: 20px 0; /* Aumentar el margen vertical */
        }
    
        .timeline::before {
            display: none; /* Ocultar la línea del timeline */
        }
    
        .timeline-step:nth-child(even),
        .timeline-step:nth-child(odd) {
            align-self: center; /* Centrar todos los pasos */
        }
    
        /* Efecto de texto de arcoíris */
        .rainbow-text {
            font-size: 2rem; /* Reducir el tamaño del texto */
            text-align: center; /* Centrar el texto */
            margin-bottom: 30px; /* Aumentar el margen inferior */
        }
    }